<a href="https://colab.research.google.com/github/GuilhermeSDuarte/ATV_Flask_API/blob/main/atv_criando_uma_API_com_flask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install flask_ngrok

In [51]:
from flask_ngrok import run_with_ngrok
from flask import Flask
from flask import jsonify

In [52]:
app = Flask(__name__)
run_with_ngrok(app)

In [53]:
mahesh = {
    "number": 1,
    "name": "Mahesh",
    "age": 25,
    "city": "Bangalore",
    "country": "India"
      }
alex = {
    "number": 2,
    "name": "Alex",
    "age": 26,
    "city": "London",
    "country": "UK"
      }
david = {
    "number": 3,
    "name": "David",
    "age": 27,
    "city": "San Francisco",
    "country": "USA"
      }
john = {
    "number": 4,
    "name": "John",
    "age": 28,
    "city": "Toronto",
    "country": "Canada"
      }
chris = {
    "number": 5,
    "name": "Chris",
    "age": 29,
    "city": "Paris",
    "country": "France"
      }

In [54]:
@app.route("/index")

def home():
  return jsonify(mahesh, alex, david, john, chris)

In [ ]:
app.run()